<div class="searchBar">
  <div class="container">
    <form action="/search" class="search-form" role="search" method="POST">
      <input
        type="search"
        aria-label="Search"
        name="searchTerm"
        placeholder="Search the blogpost..."
        id="searchInput"
      />
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>
