<div class="author">
  <h1 class="author-heading">Hi, I am Zaw Lin.</h1>
  <p class="author-body">Front-end Developer</p>
</div>

<img
  src="/img/hero-image.webp"
  alt="person looking out through window"
  class="hero-image"
  width="981"
  height="538"
/>

<section class="articles">
  <h2 class="articles-heading">Latest Posts</h2>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list-date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
